$cornflower-blue: #6a8bd6;
$charcoal-grey: #34373e;
$bluey-grey: #9da5b7;
$battleship-grey: #6c7280;
$white-three: #f7f7f7;
$white-four: #f5f5f5;
$lavender-blue: #84a5f2;
$powder-blue: #c6d7ff;
$white: #ffffff;
$pale-red: #d84b4b;
$white-two: #fafafa;